<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">Voca 
            <span>Text</span>
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/login">Login</a>
            <a href="/about">About us</a>
            <a href="/contact">Contact</a>
            <a href="/services">Services</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hello <span> everyone</span></h1>
            <h3 class="text-animation">This is a <span></span></h3>
            <p>Experience seamless text-to-voice conversion with natural, lifelike speech.
            Simply enter your text,choose a voice, and listen instantly.
            Perfect for audiobooks, accessibility, and more!
            </p>
            <div class="social-icons">
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
            <div class="btn-group">
                    <a href="/login" class="btn">Login</a>
            </div>
        </div>
        <div class="home-img">
            <img src="/static/images/home.jpg" alt="">
        </div>
    </section>
</body>
</html>