<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services Page</title>
    <link rel="stylesheet" href="/static/css/services.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <nav class="navbar"> 
            <a href="/home">Home</a>
            <a href="/login">Login</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <a href="/services">Services</a>
        </nav>
    </header>
    <div class="container">
        <div class="service-wrapper">
            <div class="service">
                <h1>Our Services</h1>
                <p>Services offered by us</p>
                    <div class="cards">
                        <div class="card">
                            <i class="fa-solid fa-user-group"></i>
                            <h2>User Authentication</h2>
                            <p>It is crucial for ensuring secure and personalized services
                                and protecting user data.</p>
                        </div> 
                        <div class="card">
                            <i class='bx bx-microphone'></i>
                            <h2>Text Converter</h2>
                            <p>It allows user to convert text to audio.</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-layer-group"></i>
                            <h2>Realistic AI Voice</h2>
                            <p>Experience Lifelike Voice Synthesis with natural innotations and Emotions</p>
                        </div>
                        <div class="card">
                            <i class='bx bxs-message-rounded-x'></i>
                            <h2>Custom Voice Modulations</h2>
                            <p>Adjust pitch, speed, and tone to personalize the speech output</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-desktop"></i>
                            <h2>Customer Support</h2>
                            <p>Get assistance anytime with our dedicated support team.</p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</body>
</html>